<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>OpenBid</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<main>

    <div class="authPageWrapper">
        <div class="authPgae">
            <div class="logoHolder">
              <img src="/images/logo.svg" alt="OpenBid Logo">
            </div>
            <div class="authFormHolder">
            <div layout:fragment="content">

            </div>
        </div>
        </div>

    </div>


</main>

</body>
</html>
