<!DOCTYPE html>


<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="pagesWrapper">
    <main>

        <div class="authPageWrapper">
            <div class="authPgae">
                <div class="logoHolder">
                    <img src="/images/logo.svg" alt="OpenBid Logo">
                </div>
                <div class="authFormHolder">
                    <div layout:fragment="content">

                    </div>
                </div>
            </div>

        </div>


    </main>
</div>
</body>
</html>


