<div class="itemListing">


    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                            <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                                <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card   singleItem">
                    <img src="/images/prod.webp" class="card-img-top itemImg">

                    <div class="info">

                        <div class="infoBox1">

                            <div class="left">
                                <div class="cat">category</div>
                                <div class="name"> itle qskldjsqkldj sq </div>
                            </div>
                            <div class="right">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="prix">
                                    500dt
                                </div>
                            </div>
                        </div>
                        <div class="infoBox2">
                            <div class="single">
                                <div class="tit">
                                    Meilleure offre
                                </div>
                                <div class="val">
                                    0DT
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    offres totales
                                </div>
                                <div class="val">
                                    2
                                </div>
                            </div>
                            <div class="single">
                                <div class="tit">
                                    temps restant
                                </div>
                                <div class="val">
                                    1 j
                                </div>
                            </div>
                        </div>
                        <div class="btm">

                            <a href="#" class="btn btn-primary" type="button">Détails</a>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
