

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.svg"   alt="logo">
    </a>
    <div class="searchBar">
    <form class="form-inline d-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
    </form>
    </div>

    <div class="authGuest">
        <div class="link register">

            <a href="/register" class="btn btn-primary">S'inscrire</a>
        </div>
        <div>/</div>
        <div class="link login">
            <a href="/login" class="btn btn-primary">Se connecter</a>

        </div>
    </div>
</nav>
<div class="navbar navbar-light bg-light second">
    <div>
        <a href="/" class="btn ">Accueil</a>
        <a href="/home" class="btn  ">cat1</a>
        <a href="/home" class="btn  ">cat2</a>
        <a href="/home" class="btn  ">cat3</a>
        <a href="/home" class="btn  ">cat4</a>


    </div>
</div>
