<!DOCTYPE html>


<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="pagesWrapper">
    <main>
        <div class="container">
        <div class="singleItemPage" >

            <div class="imgHolder">
                <img src="/images/prod.webp" class="card-img-top itemImg">
            </div>

            <div class="leftSide">
                <div class="case s1">

                    <div class="title">qsjdjkqsdhjsq</div>
                    <div class="description">qsjdjkqsdhjsq</div>
                    <div class="postedAt">lskldqls</div>

                </div>

                <div class="case s2">


                    <div class="tit">Vendeur</div>
                    <div class="info">shaheen jawadi</div>

                </div>
                <div class="case s2">


                    <div class="tit">Temps restant</div>
                    <div class="info">qskldkljqs</div>

                </div>

                <div class="case s2">


                    <div class="tit">Prix initial</div>
                    <div class="info">5000dt</div>

                </div>

                <div class="case s2">


                    <div class="tit">Mon Offre</div>
                    <div class="info">1000dt</div>

                </div>

                <div class="case s2">


                    <div class="tit">Meilleur Offre</div>
                    <div class="info">1000dt</div>

                </div>

                <div class="case s2">


                    <a href="#" class="btn btn-primary" type="button">Faire une offre</a>

                </div>

            </div>

        </div>

</div>
    </main>
</div>
</html>


