
:root {
    --primary-color: #27ae60;
    --secondary-color: #2c3e50; /
    --success-color:#05b000;
    --info-color: #3498db;
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
    --light-color: #ecf0f1;
    --dark-color: #34495e;
    --primary-dark: hsl(146, 40%, 40%);
    --primary-light: hsl(146, 40%, 60%);
}

/* Override Bootstrap Primary Color */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}



.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-info {
    background-color: var(--info-color);
    border-color: var(--info-color);
}
.btn-success {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}
.btn-warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}


/* Navbar Customization */
.navbar {
    background-color: var(--primary-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--light-color);
}

/* Alerts */
.alert-primary {
    background-color: var(--primary-color);
    color: #fff;
}



.alert-info {
    background-color: var(--info-color);
    color: #fff;
}

.alert-warning {
    background-color: var(--warning-color);
    color: #fff;
}

.alert-danger {
    background-color: var(--danger-color);
    color: #fff;
}

.progress-bar {
    background-color: var(--primary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: #fff;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    max-width: 100vw;
    overflow: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.authPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.authPageWrapper .authPgae{
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 3px #7b78787a;
    min-width: 30%;
}
.authPageWrapper .authPgae .logoHolder{
    width: 200px;
    display: flex;
    justify-self: center;
}

.authPageWrapper .authPgae .authFormHolder{
    border-top: 1px solid #6f6f6f8c;
    margin: 20px 0;
    padding-top: 20px;
}

/* item-list */
.itemListing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.itemListing .singleItem .itemImg{
    border-bottom: 1px solid #6f6f6f8c;

}

.itemListing .singleItem .info .infoBox1{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
}

.itemListing .singleItem .info .infoBox1 .left{

}
.itemListing .singleItem .info .infoBox1 .left .cat{
font-size: 12px;
    width: max-content;
    font-weight: 500;
    color: #fff;
    background-color: var(--info-color);
    border-radius: 3px;
    padding: 2px 5px;
}
.itemListing .singleItem .info .infoBox1 .left .name{
    font-size: 14px;
    text-align: left;
}

.itemListing .singleItem .info .infoBox1 .right .tit{
    font-size: 11px;
    color: #5d5d5d;
}

.itemListing .singleItem .info .infoBox1 .right .prix{

    color: var(--primary-color);
    font-weight: 600;
    font-size: 15px;
}






.itemListing .singleItem .info .infoBox2 {
display: flex;
    border-top: 1px solid #6f6f6f8c;
    padding: 5px;
}
.itemListing .singleItem .info .infoBox2 .single {
flex: 1;

}


.itemListing .singleItem .info .infoBox2 .single .tit {

    font-size: 13px;
    text-align: left;
    color: #5d5d5d;
}

.itemListing .singleItem .info .infoBox2 .single .val {

    font-size: 14px;
    font-weight: 600;
}
.itemListing .singleItem .btm{
    width: 50%;
    display: grid;
    place-self: flex-end;

}
